
* {
    margin: 0 ;
    padding: 0 ;    
    box-sizing: border-box  ;
}

body * {
    font-family: "Inter", sans-serif;
}

body {
    background:#E9E8EE; 
}

#FIRST_BOX { 
    border: 1PX;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    color:#E9E8EE; 
    justify-content: center;
    align-items: center;
    margin:0;
    font-size:45px;  
    gap:55px;
}

#tittle img {
    width: 100px;
    height: 100px;
    margin: auto;
}

#tittle { 
    border: 1px; 
    width:100%;
    text-align: center;
    padding: 24px;
    margin:auto;
    background-color:#415EA2;
    display: flex;
    justify-content: center;
   
}

#SECOND_BOX {
    border: 1PX;
    width:600px;
    margin-bottom: 0;
    text-align: center; 
    margin-top: 30px;
    background-color:#415EA2;
    border-radius: 40px;
    padding:10px;
    display:block;
}

ul {
    list-style: none ;
    text-align: left; 
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
    max-width:300px;
    width: 100%;
}

ul li input {
    height:25px;
    max-width:300px;
    width: 100%;
    border-radius: 5px ;
    align-items: center;
    font-weight: 500;
    transition: background 0.5s;   
    padding: 16px 24px;
    background-color:#F0F7EE;  
    border-color: #F0F7EE;;
    outline: none;
    margin-top: 10px;
    display: flex;
}

ul li input:hover {
    background-color:#F0E7D8;
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 0 5px rgba(246, 252, 222, 0.5); /* Sombra ao focar */
}

#solicitacao {
    height:100px;
    max-width:300px;
    width: 100%;
    border-radius: 5px ;
    align-items: center;
    font-weight: 500;
    transition: background 0.5s;   
    padding: 16px 24px;
    background-color:#F0F7EE;  
    border-color: #F0F7EE;
    resize: none;
    margin-top: 10px;
    outline: none;   
}

#P_referencia {
    height: 70px;
    max-width:300px;
    width: 100%;
    border-radius: 5px ;
    align-items: center;
    font-weight: 500;
    transition: background 0.5s;   
    padding: 16px 24px;
    background-color:#F0F7EE;  
    border-color: #F0F7EE;
    resize: none;
    margin-top: 10px;
    outline: none;   
}

#urgencia {  
    height: 55px;
    max-width:300px;
    width: 100%;
    text-align: left;
    border-radius: 5px ;
    align-items: center;
    font-weight: 500;
    transition: background 0.5s;   
    padding: 16px 24px;
    background-color:#F0F7EE;  
    border-color: azure;
    margin-top: 10px;
    outline: none;
    font-size: 15px;
}

ul li label { 
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

#button {
    width: 130px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #63BFBE;
    border: 0px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#box_button {
display: flex;
align-items: center;
justify-content: center;
}

footer {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:#415EA2;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  footer a {
    color: #415EA2;
    text-decoration: none;
}

/* Estilização dispositivos moveis */

@media (max-width:480px) { 
    #FIRST_BOX{ 
        padding:0px 16px; 
}

h1 {
        font-size:28px;
        gap: 25px;
}

#tittle img {
        width: 60px;
        height: 60px;
}

#input_li { 
        margin:0;
}

#SECOND_BOX {
        width:400px;
}

#input_li {
        margin: 0px;
        width: 400px;
}

ul li input {
        width: 400px;
}



}